{
  "env": {
    "es6": true,
    "browser": true,
    "commonjs": true
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "extends": ["htmlacademy/es6", "plugin:react/recommended"],
  "plugins": ["react"],
  "settings": {
    "react": {
      "version": 16
    }
  }
}
